<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@
    <div class="d-flex top-wrap" id="header-nav">
        <a v-for="link in links" class="tw-menu-l" :class="{'tw-menu-l-active': link.url === currentRoute}" :href="link.url">{{link.name}}</a>
        <div class="top-logo"><img src="~/imgs/logo.png" alt=""></div>
        <div class="tw-menu-l">Element2</div>
        <div class="tw-menu-l">Element3</div>
    </div>
    @RenderBody()

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>